body{
    background-image: linear-gradient(to bottom right, #ad1391, yellow,#00ff00);height:100vmax;
    font-family: Helvetica, Arial, sans-serif;
    margin:0;
}

nav {
    margin: 0;
    overflow: hidden;
  }
  nav ul {
    margin: 0;
    padding: 0;
    display: flex;
  }
  nav ul li {
    display: inline-block;
    list-style-type: none;
  }
  nav ul li a {
    color: #161616;
    display: block;
    line-height: 75px;
    padding: 1em 3em;
    text-decoration: none;
  }
  nav ul li:first-child {
    margin-right: auto;
  }

  hr{
    border: 0;
    height: 69px;
    background-color: #333;
    background-image: url(https://i.gifer.com/T5pw.gif);
    background-repeat: repeat-x;
    background-size: 70px 70px;
    overflow: hidden;
  }